<a href="https://colab.research.google.com/github/positivejmk/2021-2-practice/blob/master/Kmeans_Clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

#1. Load Data

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
df = pd.read_csv("/content/drive/MyDrive/BA team proj/공모전/nh_merge_final.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (39,40) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.shape

(681472, 49)

In [6]:
df.head()

   Unnamed: 0  ...  외국인 순매수(코스닥시장, 잠정치) (억원)
0           0  ...                       591
1           1  ...                     -1782
2           2  ...                       729
3           3  ...                        63
4           4  ...                       256

[5 rows x 49 columns]

#Per act_id Data

In [17]:
id_df = df.groupby('act_id').agg({
    'sales_intervaldays': min,
    'bnc_qty' : sum,
    'byn_dt' : lambda x: x.nunique()
})

id_df.columns = ['Intervaldays', 'TotalSales', 'OrderCount']

id_df

                                                    Intervaldays  ...  OrderCount
act_id                                                            ...
0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c5467...     34.875000  ...          16
0007f3d10282e6f9de1eb445a64eb1f13e9ed2308cfbfa9...      8.964286  ...          28
0008d1bfac569bdb998897e2eb8519dec06b9277a686f4c...     13.000000  ...          51
000a83a961cbcbce40673aed998effbd462fb10dcac8e64...    160.666667  ...           3
000b92ca83a96312a0909b1f489340f4d399c86555012ff...     36.666667  ...           3
...                                                          ...  ...         ...
ffdccfb9dc24cf41843f6e7f34704ccb73ac81acc29aa39...      2.689286  ...         280
ffecc8e2823943ef1a7b0d9c6512f716a88032a1bdf7bac...      9.795918  ...          49
ffee399294db1c721e010cbf3dae5c8a1f140dbaf2dcae9...     30.315789  ...          19
fff7d563e388744fdc1ca90153ec0161d1345511cb9070f...      6.178571  ...          28
fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6b...     19.869565  ...          23

[9337 rows x 3 columns]

In [19]:
id_df.describe()

       Intervaldays    TotalSales   OrderCount
count   9337.000000  9.337000e+03  9337.000000
mean      25.897282  3.635851e+04    44.962515
std       39.633256  1.417177e+05    64.143509
min        0.000000  1.000000e+00     1.000000
25%        5.711111  5.030000e+02     8.000000
50%       12.800000  3.500000e+03    22.000000
75%       29.315789  1.981700e+04    55.000000
max      551.000000  4.093110e+06   738.000000

In [20]:
# rank(): 각 열마다 순위 값을 반환, index 축을 기준으로 보여줌
# 아무것도 지정하지 않으면 기본값인 오름 차순으로 순위를 정함 (낮은 숫자에서 높은 순으로)
# method: 동일값의 경우 순위 지정하는 방법 
#         average: average rank of the group (default)
#         min: lowest rank in the group
#         max: highest rank in the group
#         first: ranks assigned in order they appear in the array
#         dense: like ‘min’, but rank always increases by 1 between groups.

rank_df = id_df.rank(method='first')

In [21]:
rank_df.head()

                                                    Intervaldays  ...  OrderCount
act_id                                                            ...
0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c5467...        7419.0  ...      3776.0
0007f3d10282e6f9de1eb445a64eb1f13e9ed2308cfbfa9...        3587.0  ...      5260.0
0008d1bfac569bdb998897e2eb8519dec06b9277a686f4c...        4708.0  ...      6797.0
000a83a961cbcbce40673aed998effbd462fb10dcac8e64...        9171.0  ...       892.0
000b92ca83a96312a0909b1f489340f4d399c86555012ff...        7524.0  ...       893.0

[5 rows x 3 columns]

In [22]:
rank_df.describe()

       Intervaldays   TotalSales   OrderCount
count   9337.000000  9337.000000  9337.000000
mean    4669.000000  4669.000000  4669.000000
std     2695.504065  2695.504065  2695.504065
min        1.000000     1.000000     1.000000
25%     2335.000000  2335.000000  2335.000000
50%     4669.000000  4669.000000  4669.000000
75%     7003.000000  7003.000000  7003.000000
max     9337.000000  9337.000000  9337.000000

In [26]:
# 군집분석 전 데이터 스케일 표준화 
scaled_df = (rank_df - rank_df.mean()) / rank_df.std()

# from sklearn.preprocessing import StandardScaler
# scaler = StandardScaler()
# scaled_data = scaler.fit_transform(rank_df)

In [27]:
scaled_df

                                                    Intervaldays  ...  OrderCount
act_id                                                            ...
0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c5467...      1.020217  ...   -0.331292
0007f3d10282e6f9de1eb445a64eb1f13e9ed2308cfbfa9...     -0.401409  ...    0.219254
0008d1bfac569bdb998897e2eb8519dec06b9277a686f4c...      0.014469  ...    0.789463
000a83a961cbcbce40673aed998effbd462fb10dcac8e64...      1.670189  ...   -1.401222
000b92ca83a96312a0909b1f489340f4d399c86555012ff...      1.059171  ...   -1.400851
...                                                          ...  ...         ...
ffdccfb9dc24cf41843f6e7f34704ccb73ac81acc29aa39...     -1.406416  ...    1.682060
ffecc8e2823943ef1a7b0d9c6512f716a88032a1bdf7bac...     -0.304952  ...    0.774252
ffee399294db1c721e010cbf3dae5c8a1f140dbaf2dcae9...      0.898533  ...   -0.113522
fff7d563e388744fdc1ca90153ec0161d1345511cb9070f...     -0.794286  ...    0.256724
fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6b...      0.487849  ...    0.056761

[9337 rows x 3 columns]

In [28]:
scaled_df.describe()

       Intervaldays    TotalSales    OrderCount
count  9.337000e+03  9.337000e+03  9.337000e+03
mean  -5.166455e-18 -2.047557e-17 -1.004902e-17
std    1.000000e+00  1.000000e+00  1.000000e+00
min   -1.731773e+00 -1.731773e+00 -1.731773e+00
25%   -8.658863e-01 -8.658863e-01 -8.658863e-01
50%    0.000000e+00  0.000000e+00  0.000000e+00
75%    8.658863e-01  8.658863e-01  8.658863e-01
max    1.731773e+00  1.731773e+00  1.731773e+00

#2. Customer Segmentation via K-Means Clustering