<a href="https://colab.research.google.com/github/positivejmk/Etc/blob/master/Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 데이터 타입과 컬렉션

### Print 함수

In [ ]:
# Print -- sep = ' ', end = \n 이 디폴트 값이다. 
print(10, 100, 11.4, sep = ',', end ='!!')

10,100,11.4!!

### 변수명 설정

In [ ]:
# 예약어 : 파이썬에서 미리 선점해서 사용중인 키워드 (for, while, if, elif, else, class, try, except, ...)
# 예약어는 변수명으로 사용 불가, 숫자로 시작하는 변수명은 사용 불가. 
# 두 경우 모두 앞에 언더바 붙이면 사용 가능

_class = 1
print(_class)

1

### type()

In [ ]:
# 데이터 타입을 알아보는 함수 : type()
# 정수형, 실수형, 

c = None
type(c)

NoneType

### 숫자형

In [ ]:
# 숫자형의 비교 연산자는 bool타입(T/F)로 출력됨
a = 5
b = 4

print(a>b)
print(a>=b)
print(a==b)
print(a!=b)

# 숫자형의 기본 연산 (+ , - , * , / , % , ** --지수연산)
print(a + b)
print(a - b)
print(a % b)
print(a ** b)

# 연산 순위는 기본적인 수학 연산자와 동일하고, 순서를 강제하고 싶으면 ()로 지정
print(a+b*3)
print((a+b)*3)

True
True
False
True
9
1
1
625
17
27

### 문자형

In [ ]:
# 문자형

# " ", ' '의 차이는 문자열 사이에 작은 따옴표 , 큰 따옴표 쓰고 싶은 경우에 구분지어서 사용하기.
a = '"Hello!" World'
b = "Hello's World \nHi"

print(a)
print(b)

# 여러 줄에 걸친 문자열 생성! 즉 줄바꿈 반영하고 싶다면 """ , '''으로 감싸라!

c = """
Hello
World
"""
d = '''Hello


World'''

print(c)
print(d)

"Hello!" World
Hello's World
Hi

Hello
World

Hello


World

In [ ]:
# 인덱스 -- 0부터 시작, 띄어쓰기도 포함
# 유효한 범위를 넘어서면 에러가 뜹니다. Index Error

a = 'Hello World'
print(a[10])
print(a[-1]) # 마지막 문자 가져오기
print(a[-11])

d
d
H

In [ ]:
# 슬라이싱
print(a[0:4]) # -- 맨 끝 숫자는 포함하지 않아! 인덱스 0부터 3까지의 문자 가져오기
print(a[:11])
print(a[:5])
print(a[3:])
print(a[-1:])
print(a[:-1])
print(a[-3:-1])
print(a[:])

Hell
Hello World
Hello
lo World
d
Hello Worl
rl
Hello World

In [ ]:
# replace
a = 'hello world'
a.replace('h', 'j')

'jello world'

In [ ]:
# format -- 동적 문자열 생성
temp = 17
prob = 80

a = '오늘 기온{}도 이고, 비올 확률은 {}%입니다.'.format(temp, prob)
print(a)

오늘 기온17도 이고, 비올 확률은 80%입니다.

In [ ]:
# split
a = 'hello world what a nice weather'
print(a.split()) # --기본값은 띄어쓰기로 문자열을 나눠줌
print(a.split('w'))

['hello', 'world', 'what', 'a', 'nice', 'weather']
['hello ', 'orld ', 'hat a nice ', 'eather']

### List

```List&Tuple```

* 공통점 : 복수개의 값을 담을 수 있는 데이터 구조 
* 차이점: 
 * 리스트 - 데이터의 크기에 따라서 동적으로 바뀔 수 있음.
 * 튜플 - 한 번 생성하면 변경 불가능

In [ ]:
a = []
print(a)
type(a)

[]

list

In [ ]:
a = [1, 2, 3, 5, 10]
print(a)

a = ['korea', 'canada', 1, 23, [34, 56]] # --문자열, 리스트 안의 리스트 등 다 삽입 가능
print(a)

[1, 2, 3, 5, 10]
['korea', 'canada', 1, 23, [34, 56]]

In [ ]:
a = 'hello world'
b = list(a) # -- 자동으로 한 글자씩 끊어서 리스트로 저장
print(b)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [ ]:
a = 'hello world nice weather'
b = a.split() # -- split함수로 인해 자동으로 띄어쓰기 기준으로 끊어서 리스트로 저장
print(b)

['hello', 'world', 'nice', 'weather']

In [ ]:
# 인덱스
a = [1, 2, 3, 4, 5, 6]
print(a[2])
print(a[5])

3
6

In [ ]:
# 문자열 및 튜플은 불변(immutable) 객체, 리스트는 동적 타입. 
# 따라서 문자열, 튜플은 새로운 문자열로 대체 등의 방식을 사용해야 함.

a = 'hello world'
print(a[0])

b = 'hello world'
c = 'j' + a[1:]

d = a.replace('h', 'j')

print(a)
print(b)
print(c)
print(d)

h
hello world
hello world
jello world
jello world

In [ ]:
# list는 인덱스를 이용해서 업데이트도 가능
a = [1, 2, 3, 4, 5]
print(a)

a[0] = 100
a[-1] = 90
print(a)

[1, 2, 3, 4, 5]
[100, 2, 3, 4, 90]

In [ ]:
# 슬라이싱
a = [1, 2, 3, 4, 5]

# start : end : increment ( increment 의 디폴트 값은 1 )
a[1:7:2]

[2, 4]

In [ ]:
# 멤버함수
# .append()
a = [1, 2, 3, 4, 5]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]

In [ ]:
# .extend()

# append 를 이용하면 리스트 형식 그대로 원소가 추가되어 버림.
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]
a.append(b)
print(a)

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]

In [ ]:
# 리스트에 각각 원소로 넣으려면 extend 이용.

a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# extend는 += 와 같음.

a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]
a += b
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 그냥 +로 연산해도 같은 결과.

a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]
print(a + b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# insert(index, value) -- 특정 인덱스에 값 추가해주고 싶을 때

a = [1, 3, 4, 5, 6]
a.insert(1, 2)
print(a)

[1, 2, 3, 4, 5, 6]

In [ ]:
# remove
a = [1, 2, 3, 4, 5]
a.remove(2)
print(a)

[1, 3, 4, 5]

In [ ]:
a = [1, 2, 30, 30, 4, 5]
a.remove(30) # 처음으로 나온 값을 제거 , 없는 값을 입력하면 ValueError 오류가 난다. 
print(a)

[1, 2, 30, 4, 5]

In [ ]:
# pop -- 인덱스로 지우기, 디폴트 값은 맨 마지막 값 지움.

a = [1, 2, 3, 4, 5]
d = a.pop(2) 

print(a)
print(d)

[1, 2, 4, 5]
3

In [ ]:
# index --  찾고 싶은 값의 인덱스 반환
a = [1, 2, 3, 4, 5]
a.index(2)

1

In [ ]:
a = [1, 1, 1, 2, 3, 4, 5]
a.count(1)

3

In [ ]:
a = [1, 2, 3, 4, 5]
a.clear()
a

[]

In [ ]:
a = [1, 2, 3, 4, 5]
a.reverse()
a

[5, 4, 3, 2, 1]

In [ ]:
a = [1, 40, 2, 3, 4, 5]
#a.sort()
a.sort(reverse = True)
a

[40, 5, 4, 3, 2, 1]

In [ ]:
a = [1, 2, 3, 4, 5, 10]
b = sorted(a, reverse = True)
b

[10, 5, 4, 3, 2, 1]

In [ ]:
a = [1, 2, 3, 4, 5, 10]
b = 7
b in a

False

In [ ]:
a = [1, 2, 3, 4, 5, 10]
b = 10
b in a

True

### Tuple

튜플은 리스트와 달리 바로 값을 변경하는 것은 안되지만, 여러 쌍의 변수를 동시에 입력하고 싶을 때 편리함.

In [ ]:
a, b, c, d = (1,2,3,4)
a, b, c, d

(1, 2, 3, 4)

In [ ]:
# 괄호 생략 가능

a, b, c, d = 1,2,3,4 
a, b, c, d

(1, 2, 3, 4)

In [ ]:
a, b = 5, 4
print(a, b)

# temp = a
# a = b
# b = temp
a, b = b, a

print(a ,b)

5 4
4 5

### Dictionary

Python에서 가장 많이 쓰는 데이터 유형. 
- ```키```와 ```값```을 갖는 데이터 구조
- **순서를 따지지 않음. 인덱스가 없음**

In [ ]:
a = [0, 1, 2, 3, 4, 10, 100, 200, 300]
print(a[0])
print(a[4])

# 리스트의 길이가 얼마나 긴 지와 관계 없이 인덱스를 통해 접근하는 것은 시간이 거의 걸리지 않음.
# 딕셔너리도 마찬가지로 키를 알면 그 딕셔너리의 길이와 관계 없이 금방 가져올 수 있음.

0
4

In [ ]:
a = {'Korea' : 'Seoul', 
     'Canada' : 'Ottawa',
     'USA' : 'Washington D.C'}
print(a) # -- 딕셔너리 얘는 인덱싱 불가
print(type(a))
print(a['Korea'])

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washington D.C'}
<class 'dict'>
Seoul

In [ ]:
b = {0:1,
     1:6,
     7:9,
     8:10}
b[0] # -- 여기서 얘는 인덱스 숫자 0이 아니고 key에 있던 0이다.

1

In [ ]:
a = {'Korea' : 'Seoul', 
     'Canada' : 'Ottawa',
     'USA' : 'Washington D.C'}

a['Japan'] = 'Tokyo'
a['Japan'] = 'Kyoto' # 같은 key 값은 중복이 안됨. 그래서 업데이트 되었음
a['Japan_2'] = 'Kyoto' # 값은 얼마든지 중복 가능.
a['China'] = 'Beijing'

print(a)

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washington D.C', 'Japan': 'Kyoto', 'Japan_2': 'Kyoto', 'China': 'Beijing'}

In [ ]:
# update

a = {'a' : 1, 'b' : 2, 'c' :3}
b = {'a' : 2, 'd' : 4, 'e' : 5}

a.update(b) # 있는 key값은 업데이트 되고 없는 key값은 추가해줌.
print(a)

{'a': 2, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
# del, pop

a = {'a' : 1, 'b' : 2, 'c' :3}
a.pop('b')
print(a)

{'a': 1, 'c': 3}

In [ ]:
a = {'a' : 1, 'b' : 2, 'c' :3}

del a['b'] # --del은 현재 시스템 노트상에서 아예 지워버리는 것.
print(a)

{'a': 1, 'c': 3}

In [ ]:
print(a)
a.clear()
print(a)

{'a': 1, 'c': 3}
{}

In [ ]:
a = {'a' : 1, 'b' : 2, 'c' :3}
b = [1, 2, 3, 4, 100]

print('b' in a)
print('d' in a) # 얘는 딕셔너리 키 값만 보는 것이라 성능저하 문제 없음. 값으로는 조회 불가.
print(100 in b) # **반면** 얘는 성능 저하 초래됨. 왜냐면 값 하나하나 다 보면서 100 있는지 없는지 봐야되기 때문.

True
False
True

In [ ]:
print(a['b'])
print(a.get('d')) # 이렇게 하면 없는 키 값 입력해도 KeyError 안나고 그냥 None으로 표시

2
None

In [ ]:
print(a)

print(a.keys())
print(a.values())

print(list(a.keys()))
print(list(a.values()))

list(a.items())

{'a': 1, 'b': 2, 'c': 3}
dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
['a', 'b', 'c']
[1, 2, 3]

[('a', 1), ('b', 2), ('c', 3)]

### Set

- dictionary에서 key만 활용하는 데이터 구조
- 수학의 집합과 같은 것

In [ ]:
a = {1, 1, 2, 3, 3, 4, 1, 5}
print(a) # 인덱싱 불가. 순서 없음.

{1, 2, 3, 4, 5}

In [ ]:
a = {} # -- 그냥 중괄호로 하면 딕셔너리로 인식함.
b = set() # 빈 집합 만들려면 이렇게 해야 함.

print(a)
print(b)

{}
set()

In [ ]:
a = [1, 1, 2, 3, 3, 4, 1, 5]
b = set(a) # 중복 없는 집합으로 만들어 줌. 왜냐면 순서 정보 없으니까.
print(b)

{1, 2, 3, 4, 5}

In [ ]:
# 합,차,교집합 다 가능

a = {1, 2, 3}
b = {2, 3, 4}

print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(a.issubset(b)) # 부분집합인지 아닌지

{1, 2, 3, 4}
{2, 3}
{1}
False

## 조건문과 반복문

### 조건문(if, elif, else)

비교 연산자 우선 순위 : NOT > AND > OR

In [1]:
a = 10
b = 8
c = 11

if a == 10 or b == 9 and c == 12: # b == 9 and c == 12 : F , a == 10 : T
  print('true')

true

In [2]:
# 우선순위 바꾸고 싶으면 괄호로 표현하자

if (a == 10 or b == 9) and c == 12:
  print('true')

In [4]:
if not a != 10:
  print('a is ten')

a is ten

if 문의 조건식은 보통 boolean 이 옵니다. 그러나 정수, 실수, 문자열 리스트 등 기본 타입도 조건에 사용 가능! 

- False로 간주되는 값은 보통 각 타입의 기본값
    - None
    - 0 / 0.0
    - ' '
    - [] --> empty list
    - () --> empty tuple
    - {} --> empty dictionary
    - set() --> empty set
- 이 외의 값은 모두 True로 간주

In [5]:
a = 0
if a : 
  print('print')

In [6]:
a = 10
if a : 
  print('print')

print

In [7]:
a = []
if a :
  print('print')

In [9]:
a = [1,2]
if a :
  print('print')

print

In [10]:
# 짝수인 경우에는 2로 나눈 값
# 홀수인 경우에는 1을 더한 값 출력하자

a = 12

if a % 2 == 0:
  print(a/2)
# if else 사이에은 어떤 것도 들어갈 수 없다 ! --> Syntax Error(문법오류) 뜰거야.
else :
  print(a+1)

6.0

In [12]:
# if, elif, else

a = 19

if a % 4 == 0 :
  print('a is divisible by 4')
elif a % 4 == 1 :
  print('a % 4 is 1')
elif a % 4 == 2 :
  print('a % 4 is 2')
else :
  print('a % 4 is 3')

a % 4 is 3

중첩 조건문

In [13]:
a = 10
b = 9
c = 8

if a == 10:
  if c == 8:
    if b == 8:
     print('a is ten and b is 8')
    else:
      print('a is ten and b isnt 8')

a is ten and b isnt 8

depth는 제한은 없지만 이해하기 쉬운 간결한 코드를 짜기 위해서는 최대한 줄이기!

### 반복문

While문은 if 문과 달리 조건이 참이면, while 코드 블록을 반복적으로 수행 가능. 

(**if문은 조건이 참이면, 코드 블록을 한 번만 수행.**)

while문의 조건이 false가 되는 순간 코드 종료.

In [15]:
a = [1, 10, 9, 23, 560, 24, 45, 67, 89]
i = 0

if i < len(a):
  print(a[i])

# while i < len(a):
#  print(a[i])
# 이렇게 하면 조건이 계속 참이니까 루프가 끝나지 않음. 무한루프 발생 !!

print('hahah')

1
hahah

In [17]:
while i < len(a):
  print(a[i])
  i += 1

print('hahah')

10
9
23
560
24
45
67
89
hahah

In [22]:
a = [1, 10, 9, 23, 560, 24, 45, 67, 89]
i = 0 

while i < len(a):
  print('value {}, index {}'.format(a[i], i))
  i += 1

print('hahah')

value 1, index 0
value 10, index 1
value 9, index 2
value 23, index 3
value 560, index 4
value 24, index 5
value 45, index 6
value 67, index 7
value 89, index 8
hahah

In [25]:
a = [1, 10, 9, 24, 25, 24]

i = 0 # index

while i < len(a):
  if a[i] > 20: # 20보다 큰 경우만 출력
    print(a[i])
  i += 1

24
25
24

In [27]:
a = [1, 10, 9, 24, 25, 24]
i = 0 # index

while i < len(a):
  if a[i] % 2 != 0: # 홀수인 경우만 출력
    print(a[i])
  else:
    print(a[i]/2) # 짝수인 경우는 나누기 2
  i += 1

1
5.0
9
12.0
25
12.0

In [28]:
# break
a = [1, 10, 9, 24, 25, 24]
i = 0 # index

while i < len(a):
  if a[i] > 20:
    break
  print(a[i])
  i += 1

print('End')

1
10
9
End

In [30]:
# 크롤링할 때, 데이터가 얼마나 있는지 모르면 break 문 사용 가능.

# while True:
#   data = crawl()
#   if data == None:
#     break
#   print(data)

In [34]:
# continue --> while 조건으로 점프! 특정한 경우에는 코드를 수행하지 않고 건너뛰기.

a = 7
while a > 0:
  a -= 1 # 순서 주의하자. if 문부터 시작하면 무한루프 되어버린다. 
  if a == 5:
    continue
  print(a)

6
4
3
2
1
0

In [37]:
# 1부터 100까지 더하라

a = 100
ls = []

while a > 0:
  ls.append(a)
  a -= 1

print(sum(ls))

5050

In [40]:
num = 1
_sum = 0

while num <= 100:
  _sum += num
  num += 1

print(_sum)

# 조건이 안떠오르면 while True: 해놓고 조건을 늘려가면서 True자리에 뭐가 들어갈지 고민해봅시다.

5050

### for 문

리스트,문자열 등 순회가 가능한 객체를 순회하면서 값을 처리!
모든 아이템이 순회되면 for문은 종료된다.

```
a = [1,2,3,4,5]
for i in a:
  print(i,i*2) 
```

In [41]:
# 문자열은 리스트와 유사하게 순회

a = 'hello'
for char in a:
  print(char)

h
e
l
l
o

In [42]:
# 정수형, 실수형 같은 경우는 순회 불가
# for x in 10:
#   print(x)

In [47]:
a = {'Korea' : 'Seoul',
     'Japan' : 'Tokyo',
     'Canada' : 'Ottawa'}

for all in a:
  print(all, a[all]) 

print('*' * 10)

for key in a:
  print(key) # k만 출력하면 key만 가져옴.

print('*' * 10)

for val in a:
  print(a[val])

Korea Seoul
Japan Tokyo
Canada Ottawa
**********
Korea
Japan
Canada
**********
Seoul
Tokyo
Ottawa

In [49]:
# items() 함수를 통해 튜플로 반환함.
list(a.items())

[('Korea', 'Seoul'), ('Japan', 'Tokyo'), ('Canada', 'Ottawa')]

In [50]:
for key, value in a.items():
  print(key, value)

Korea Seoul
Japan Tokyo
Canada Ottawa

In [56]:
# enumerate() --> index, value 모두 사용하고 싶을 때.

a = [1, 2, 3, 4, 5]

for index, num in enumerate(a):
  print(index, num)

0 1
1 2
2 3
3 4
4 5

In [55]:
for i, j in enumerate(a):
  if i > 3:
    print(i, j)

4 5

In [57]:
# break --> 특정 조건 하에 멈추고 싶을 때 사용.

a = [100, 90, 80, 70, 60, 50]

for num in a:
  if num < 80:
    break
  print(num)

100
90
80

In [58]:
# continue --> 특정 조건에 해당하는 아이템을 건너 뛰고 싶을 때 사용.

a = [100, 90, 80, 70, 60, 50]

for num in a:
  if num >= 60 and num <=70:
    continue
  print(num)

100
90
80
50

In [59]:
# 중첩 for문

a = [1, 2, 4]

for i in a :
  for j in a:
    print(i*j)

1
2
4
2
4
8
4
8
16

In [ ]:
# 구구단 만들기

for i in range(2,10):
  for j in range(1,10):
    print(i, "x", j, "=", i*j)

In [ ]:
a = 2
b = 1
while a <10:
  for i in range(1,10):
    print(a, i, a*i)
  a += 1

In [76]:
a = 2
# b = 1

while a <10:
  b = 1 # while문 안에서 b 값을 초기화 시켜주는 것 주의하자 !!
        # 초기화 안하면 2단에서 끝나버림. 
  while b < 10:
    print(a, b, a*b)
    b += 1
  a +=1

2 1 2
2 2 4
2 3 6
2 4 8
2 5 10
2 6 12
2 7 14
2 8 16
2 9 18

#### range
: 리스트를 쉽게 생성할 수 있는 함수

- range(10) : 0 ~ 9
- range(2, 10) : 2 ~ 9
- range(2, 10, 2) : 2, 4, 6, 8

In [78]:
list(range(2, 10, 2))

[2, 4, 6, 8]

In [83]:
# 1부터 100 사이의 5의 배수만 갖는 리스트 생성.
list(range(5, 100, 5))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

### Quiz

In [84]:
# 1 - 100 까지 정수 중 2의 배수 혹은 11의 배수를 모두 출력하시오.

for i in range(1, 101):
  if i % 2 == 0 or i % 11 == 0:
    print(i)

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30
32
33
34
36
38
40
42
44
46
48
50
52
54
55
56
58
60
62
64
66
68
70
72
74
76
77
78
80
82
84
86
88
90
92
94
96
98
99
100

In [116]:
# a = [22, 1, 3, 4, 7, 98, 55, 87, 99, 19, 20, 45]에서 최댓값과 최솟값을 찾으시오.
# (sorted, sort 사용 금지)

a = [22, 1, 3, 4, 7, 98, 55, 87, 99, 19, 20, 45]
max = a[0] # 초기 값을 첫 번째 값으로 설정하면 쉽다는 아이디어를 생각해내지 못했다. 주의할 것 !
min = a[0]

for i in a: # 처음 값 비교하기 싫으면 for i in a[1:]: 로 사용 가능
  if max < i:
    max = i
  if min > i:
    min = i

print('min: {}, max: {}'.format(min, max))

min: 1, max: 99

In [117]:
# a = [22, 1, 3, 4, 7, 98, 55, 87, 99, 19, 20, 45]에서 평균을 구하시오.

a = [22, 1, 3, 4, 7, 98, 55, 87, 99, 19, 20, 45]
sum = 0

for i in a:
  sum += int(i)

print(sum/len(a))

38.333333333333336

In [129]:
a = [22, 1, 3, 4, 7, 98, 55, 87, 99, 19, 20, 45]
i = 0
sum = 0

while i < len(a):
  sum += a[i]
  i += 1
  
print(sum/len(a))

38.333333333333336

## 함수의 이해 및 활용

In [134]:
# 'int' is not callable : 예약어를 변수로 사용했었을 경우, 이 Type Error가 많이 뜬다. 
# del()을 이용해서 예약어로 변수명을 썼던 그 변수 지워주고 다시 실행해주면 됨.
# 여기서는 del(sum)

a = [1,2,3,4]
_summation = sum(a)
print(_summation)

10

- def 사용
- argument정의 (함수에 입력으로 전달하는 값, argument or parameter)
- : (콜론)
- body (들여쓰기 된 부분까지)
  - 함수를 호출한 코드 (caller) 로 함수가 해당 기능을 수행 완료하고 아웃풋을 return으로 사용.
- 함수 네이밍은 직관적이게.

### 기본 함수

In [135]:
def add(x,y):
  n = x+y
  return n

In [136]:
add(30,300)

330

In [137]:
result = add(30,300)
print(result)

330

In [138]:
# 파라미터 설정 안해도 되기는 된다.
def test():
  print('hey')
  return 100

test()

hey

100

In [141]:
# 처음 함수를 설정할 때 파라미터 타입을 정하지 않기 때문에 주의할 것.
def sub(x, y):
  n = x - y
  return n
print(sub(30,4))
# print(sub('you', 'me')) --> 일케 쓰면 TypeError 뜬다.

26

In [147]:
# 기본 인자 Default Parameter

def add(x, y, z = 5):
  a = x + y + z
  return a

print(add(10, 1)) # z 입력 안해도 디폴트값인 5로 넣어준다.
print(add(10,1,1)) # z 까지 입력해주면, 당연히 입력한 z 값을 넣는다.

16
12

In [149]:
# 기본 파라미터는 뒤에서부터 정의되어야 한다. 중간에 정의될 수 없음.

# def test(a, b=3, c):
#   print(a,b,c)

# test(10,20,1) 

# 이렇게하면
# SyntaxError: non-default argument follows default argument 뜹니다.

In [152]:
# 키워드 파라미터
def test(x, y, z):
  a = x + y + z
  return a

print(test(x = 10, y = 20, z = 3)) # 이렇게 파라미터의 키워드를 명시할 수 있음.
print(test(x = 10, z = 3, y = 20)) # 순서 변경도 가능.

# 좀 더 명확하고 직관적이게 쓰고 싶을 때 추천.
# 키워드 파라미터 쓸거면 쭉 쓰고, 안 쓸거면 쭉 안 쓰고 --> 일관성 있게 코드 작성하기.

33
33

In [156]:
# return 뒤에 어떤 값이나 수식 없이 return만 달랑 존재하면 None 반환, 
# return 없으면 코드 블록 종료되면 종료로 간주. 이때도 None 반환.
# return 을 만나는 순간 함수는 끝나버림. return 뒤에 뭐 써봤자 작동 안 됨. (함수 종료)

def wrong_case(x, y):
  if x > 10:
    return
  print(x+y)
  return (x+2) * y

print(wrong_case(12,5)) # --> 첫 번째 리턴에서 함수 종료. 리턴 뒤에 아무것도 없으니 None 반환.

def wrong_case(x, y):
  if x > 10:
    return (x+2) * y

print(wrong_case(2,5)) # --> if 문에 해당 안되니까 코드 블록 종료 뒤 None 반환.

None
None

In [159]:
# multiple return (복수 값 반환)

def add_mul (x, y):
  s = x + y
  m = x * y

  return s, m # tuple 반환

c = add_mul(20,3)
print(c)
print(type(c))

a,b = add_mul(20,3)
print(a,b)

(23, 60)
<class 'tuple'>
23 60

In [30]:
# 같은 이름의 지역변수와 전역변수가 있다면 ? 지역변수가 우선순위가 더 높다.

num1 = 10
num2 = 30

def test(num1, num2):
  print(num1, num2)
  return num1 + num2

test(20,40) # --> 지역변수가 우선순위가 더 높음. 함수 내에서만 존재하는 변수이므로 함수가 끝나는 순간 사라지게 됨.
print(num1, num2) # --> global varible 에 업데이트 되지 않음을 확인.

20 40
10 30

### 가변길이 함수

In [5]:
# 가변길이 인자
# 전달되는 파라미터가 동적인 것. 정적으로 고정되지 않은 것. 
# 정해진 파라미터의 개수만 받는 것이 불가능한 경우.
# ex ) print 함수
# *를 앞에 붙여주자! 가변길이 파라미터는 "args" --arguments-- 로 표기한다!

def test(*x):
  print(type(x))

test()
test(10)
test(10,20)


def test(*x):
  for item in x:
    print(item)
  
test(10, 20, 30, 40, 50)

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
10
20
30
40
50

In [9]:
# 가변적이면서도 key 의 형식으로 파라미터를 설정하고 싶다면 ? 앞에 ** 붙이기.
# dictionary 형태로 변수를 받는다.
# 관례적으로 kwargs (key word arguments) 를 변수 명으로 적는다. 

def test2(**x):
  for key, value in x.items():
    print('key:', key, ', value:', value)

test2(a = 1, b = 2, name = 'Bob', age = 90)
print('*'*10)
test2(a = 10)

key: a , value: 1
key: b , value: 2
key: name , value: Bob
key: age , value: 90
**********
key: a , value: 10

In [13]:
# 가변길이 함수의 대표적인 예는 문자열의 "포맷" 함수
# {} placeholde를 문자열 내에 위치시키고 해당 위치에 포맷 함수로 값을 전달. 

a = '오늘 온도 : {}, 강수확률 : {}%, 내일 온도 :{}'.format(20, 40, 21)
print(a)

a = '오늘 온도 : {temp}, 강수확률 : {rain}%, 내일 온도 :{after_temp}'.format(temp = 20, rain = 40, after_temp = 21)
print(a)

오늘 온도 : 20, 강수확률 : 40%, 내일 온도 :21
오늘 온도 : 20, 강수확률 : 40%, 내일 온도 :21

### Lamda 함수

단일문으로 표현하는 익명 함수 (한줄로 표현, 함수의 이름없이 사용)

일회성 함수일 때 사용.

- lambda 입력값 : 출력값

In [15]:
square = lambda x : x**2
type(square)

25

In [16]:
square(5)

25

In [31]:
def square2(x):
  return x **2

square2(5)

25

In [40]:
strings = ['i', 'ate', 'bannana', 'and', 'apple']
strings.sort()
print(strings)

# 문자열의 길이대로 정렬하고 싶음.
strings.sort(key = lambda s : len(s)) # 따로 공간낭비 없이 심플하게 정리하고 싶을 때
print(strings)

['and', 'apple', 'ate', 'bannana', 'i']
['i', 'and', 'ate', 'apple', 'bannana']

### filter, map, reduce

In [ ]:
# filter --> list에서 filtering 하는 것.
# filter(함수, 리스트) --> list 각각의 원소에 함수를 적용시켜 봄.

nums = [1, 2, 3, 6, 8, 9]

filter(함수, nums)