<a href="https://colab.research.google.com/github/positivejmk/2021-2-practice/blob/master/Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 타입과 컬렉션

### Print 함수

In [1]:
# Print -- sep = ' ', end = \n 이 디폴트 값이다. 
print(10, 100, 11.4, sep = ',', end ='!!')

10,100,11.4!!

### 변수명 설정

In [2]:
# 예약어 : 파이썬에서 미리 선점해서 사용중인 키워드 (for, while, if, elif, else, class, try, except, ...)
# 예약어는 변수명으로 사용 불가, 숫자로 시작하는 변수명은 사용 불가. 
# 두 경우 모두 앞에 언더바 붙이면 사용 가능

_class = 1
print(_class)

1

### type()

In [5]:
# 데이터 타입을 알아보는 함수 : type()
# 정수형, 실수형, 

c = None
type(c)

NoneType

### 숫자형

In [9]:
# 숫자형의 비교 연산자는 bool타입(T/F)로 출력됨
a = 5
b = 4

print(a>b)
print(a>=b)
print(a==b)
print(a!=b)

# 숫자형의 기본 연산 (+ , - , * , / , % , ** --지수연산)
print(a + b)
print(a - b)
print(a % b)
print(a ** b)

# 연산 순위는 기본적인 수학 연산자와 동일하고, 순서를 강제하고 싶으면 ()로 지정
print(a+b*3)
print((a+b)*3)

True
True
False
True
9
1
1
625
17
27

### 문자형

In [20]:
# 문자형

# " ", ' '의 차이는 문자열 사이에 작은 따옴표 , 큰 따옴표 쓰고 싶은 경우에 구분지어서 사용하기.
a = '"Hello!" World'
b = "Hello's World \nHi"

print(a)
print(b)

# 여러 줄에 걸친 문자열 생성! 즉 줄바꿈 반영하고 싶다면 """ , '''으로 감싸라!

c = """
Hello
World
"""
d = '''Hello


World'''

print(c)
print(d)

"Hello!" World
Hello's World
Hi

Hello
World

Hello


World

In [24]:
# 인덱스 -- 0부터 시작, 띄어쓰기도 포함
# 유효한 범위를 넘어서면 에러가 뜹니다. Index Error

a = 'Hello World'
print(a[10])
print(a[-1]) # 마지막 문자 가져오기
print(a[-11])

d
d
H

In [32]:
# 슬라이싱
print(a[0:4]) # -- 맨 끝 숫자는 포함하지 않아! 인덱스 0부터 3까지의 문자 가져오기
print(a[:11])
print(a[:5])
print(a[3:])
print(a[-1:])
print(a[:-1])
print(a[-3:-1])
print(a[:])

Hell
Hello World
Hello
lo World
d
Hello Worl
rl
Hello World

In [33]:
# replace
a = 'hello world'
a.replace('h', 'j')

'jello world'

In [35]:
# format -- 동적 문자열 생성
temp = 17
prob = 80

a = '오늘 기온{}도 이고, 비올 확률은 {}%입니다.'.format(temp, prob)
print(a)

오늘 기온17도 이고, 비올 확률은 80%입니다.

In [37]:
# split
a = 'hello world what a nice weather'
print(a.split()) # --기본값은 띄어쓰기로 문자열을 나눠줌
print(a.split('w'))

['hello', 'world', 'what', 'a', 'nice', 'weather']
['hello ', 'orld ', 'hat a nice ', 'eather']

### List

```List&Tuple```

* 공통점 : 복수개의 값을 담을 수 있는 데이터 구조 
* 차이점: 
 * 리스트 - 데이터의 크기에 따라서 동적으로 바뀔 수 있음.
 * 튜플 - 한 번 생성하면 변경 불가능

In [38]:
a = []
print(a)
type(a)

[]

list

In [41]:
a = [1, 2, 3, 5, 10]
print(a)

a = ['korea', 'canada', 1, 23, [34, 56]] # --문자열, 리스트 안의 리스트 등 다 삽입 가능
print(a)

[1, 2, 3, 5, 10]
['korea', 'canada', 1, 23, [34, 56]]

In [42]:
a = 'hello world'
b = list(a) # -- 자동으로 한 글자씩 끊어서 리스트로 저장
print(b)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [45]:
a = 'hello world nice weather'
b = a.split() # -- split함수로 인해 자동으로 띄어쓰기 기준으로 끊어서 리스트로 저장
print(b)

['hello', 'world', 'nice', 'weather']

In [46]:
# 인덱스
a = [1, 2, 3, 4, 5, 6]
print(a[2])
print(a[5])

3
6

In [49]:
# 문자열 및 튜플은 불변(immutable) 객체, 리스트는 동적 타입. 
# 따라서 문자열, 튜플은 새로운 문자열로 대체 등의 방식을 사용해야 함.

a = 'hello world'
print(a[0])

b = 'hello world'
c = 'j' + a[1:]

d = a.replace('h', 'j')

print(a)
print(b)
print(c)
print(d)

h
hello world
hello world
jello world
jello world

In [50]:
# list는 인덱스를 이용해서 업데이트도 가능
a = [1, 2, 3, 4, 5]
print(a)

a[0] = 100
a[-1] = 90
print(a)

[1, 2, 3, 4, 5]
[100, 2, 3, 4, 90]

In [51]:
# 슬라이싱
a = [1, 2, 3, 4, 5]

# start : end : increment ( increment 의 디폴트 값은 1 )
a[1:7:2]

[2, 4]

In [62]:
# 멤버함수
# .append()
a = [1, 2, 3, 4, 5]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]

In [65]:
# .extend()

# append 를 이용하면 리스트 형식 그대로 원소가 추가되어 버림.
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]
a.append(b)
print(a)

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]

In [66]:
# 리스트에 각각 원소로 넣으려면 extend 이용.

a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
# extend는 += 와 같음.

a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]
a += b
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [68]:
# 그냥 +로 연산해도 같은 결과.

a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]
print(a + b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
# insert(index, value) -- 특정 인덱스에 값 추가해주고 싶을 때

a = [1, 3, 4, 5, 6]
a.insert(1, 2)
print(a)

[1, 2, 3, 4, 5, 6]

In [73]:
# remove
a = [1, 2, 3, 4, 5]
a.remove(2)
print(a)

[1, 3, 4, 5]

In [74]:
a = [1, 2, 30, 30, 4, 5]
a.remove(30) # 처음으로 나온 값을 제거 , 없는 값을 입력하면 ValueError 오류가 난다. 
print(a)

[1, 2, 30, 4, 5]

In [76]:
# pop -- 인덱스로 지우기, 디폴트 값은 맨 마지막 값 지움.

a = [1, 2, 3, 4, 5]
d = a.pop(2) 

print(a)
print(d)

[1, 2, 4, 5]
3

In [77]:
# index --  찾고 싶은 값의 인덱스 반환
a = [1, 2, 3, 4, 5]
a.index(2)

1

In [82]:
a = [1, 1, 1, 2, 3, 4, 5]
a.count(1)

3

In [83]:
a = [1, 2, 3, 4, 5]
a.clear()
a

[]

In [84]:
a = [1, 2, 3, 4, 5]
a.reverse()
a

[5, 4, 3, 2, 1]

In [92]:
a = [1, 40, 2, 3, 4, 5]
#a.sort()
a.sort(reverse = True)
a

[40, 5, 4, 3, 2, 1]

In [93]:
a = [1, 2, 3, 4, 5, 10]
b = sorted(a, reverse = True)
b

[10, 5, 4, 3, 2, 1]

In [87]:
a = [1, 2, 3, 4, 5, 10]
b = 7
b in a

False

In [88]:
a = [1, 2, 3, 4, 5, 10]
b = 10
b in a

True

### Tuple

튜플은 리스트와 달리 바로 값을 변경하는 것은 안되지만, 여러 쌍의 변수를 동시에 입력하고 싶을 때 편리함.

In [96]:
a, b, c, d = (1,2,3,4)
a, b, c, d

(1, 2, 3, 4)

In [97]:
# 괄호 생략 가능

a, b, c, d = 1,2,3,4 
a, b, c, d

(1, 2, 3, 4)

In [99]:
a, b = 5, 4
print(a, b)

# temp = a
# a = b
# b = temp
a, b = b, a

print(a ,b)

5 4
4 5

### Dictionary

Python에서 가장 많이 쓰는 데이터 유형. 
- ```키```와 ```값```을 갖는 데이터 구조
- **순서를 따지지 않음. 인덱스가 없음**

In [102]:
a = [0, 1, 2, 3, 4, 10, 100, 200, 300]
print(a[0])
print(a[4])

# 리스트의 길이가 얼마나 긴 지와 관계 없이 인덱스를 통해 접근하는 것은 시간이 거의 걸리지 않음.
# 딕셔너리도 마찬가지로 키를 알면 그 딕셔너리의 길이와 관계 없이 금방 가져올 수 있음.

0
4

In [105]:
a = {'Korea' : 'Seoul', 
     'Canada' : 'Ottawa',
     'USA' : 'Washington D.C'}
print(a) # -- 딕셔너리 얘는 인덱싱 불가
print(type(a))
print(a['Korea'])

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washington D.C'}
<class 'dict'>
Seoul

In [110]:
b = {0:1,
     1:6,
     7:9,
     8:10}
b[0] # -- 여기서 얘는 인덱스 숫자 0이 아니고 key에 있던 0이다.

1

In [109]:
a = {'Korea' : 'Seoul', 
     'Canada' : 'Ottawa',
     'USA' : 'Washington D.C'}

a['Japan'] = 'Tokyo'
a['Japan'] = 'Kyoto' # 같은 key 값은 중복이 안됨. 그래서 업데이트 되었음
a['Japan_2'] = 'Kyoto' # 값은 얼마든지 중복 가능.
a['China'] = 'Beijing'

print(a)

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washington D.C', 'Japan': 'Kyoto', 'Japan_2': 'Kyoto', 'China': 'Beijing'}

In [111]:
# update

a = {'a' : 1, 'b' : 2, 'c' :3}
b = {'a' : 2, 'd' : 4, 'e' : 5}

a.update(b) # 있는 key값은 업데이트 되고 없는 key값은 추가해줌.
print(a)

{'a': 2, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [112]:
# del, pop

a = {'a' : 1, 'b' : 2, 'c' :3}
a.pop('b')
print(a)

{'a': 1, 'c': 3}

In [113]:
a = {'a' : 1, 'b' : 2, 'c' :3}

del a['b'] # --del은 현재 시스템 노트상에서 아예 지워버리는 것.
print(a)

{'a': 1, 'c': 3}

In [114]:
print(a)
a.clear()
print(a)

{'a': 1, 'c': 3}
{}

In [118]:
a = {'a' : 1, 'b' : 2, 'c' :3}
b = [1, 2, 3, 4, 100]

print('b' in a)
print('d' in a) # 얘는 딕셔너리 키 값만 보는 것이라 성능저하 문제 없음. 값으로는 조회 불가.
print(100 in b) # **반면** 얘는 성능 저하 초래됨. 왜냐면 값 하나하나 다 보면서 100 있는지 없는지 봐야되기 때문.

True
False
True

In [121]:
print(a['b'])
print(a.get('d')) # 이렇게 하면 없는 키 값 입력해도 KeyError 안나고 그냥 None으로 표시

2
None

In [127]:
print(a)

print(a.keys())
print(a.values())

print(list(a.keys()))
print(list(a.values()))

list(a.items())

{'a': 1, 'b': 2, 'c': 3}
dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
['a', 'b', 'c']
[1, 2, 3]

[('a', 1), ('b', 2), ('c', 3)]

### Set

- dictionary에서 key만 활용하는 데이터 구조
- 수학의 집합과 같은 것

In [128]:
a = {1, 1, 2, 3, 3, 4, 1, 5}
print(a) # 인덱싱 불가. 순서 없음.

{1, 2, 3, 4, 5}

In [129]:
a = {} # -- 그냥 중괄호로 하면 딕셔너리로 인식함.
b = set() # 빈 집합 만들려면 이렇게 해야 함.

print(a)
print(b)

{}
set()

In [130]:
a = [1, 1, 2, 3, 3, 4, 1, 5]
b = set(a) # 중복 없는 집합으로 만들어 줌. 왜냐면 순서 정보 없으니까.
print(b)

{1, 2, 3, 4, 5}

In [131]:
# 합,차,교집합 다 가능

a = {1, 2, 3}
b = {2, 3, 4}

print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(a.issubset(b)) # 부분집합인지 아닌지

{1, 2, 3, 4}
{2, 3}
{1}
False